@keyframes fade-out {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }
}

.cover{
    position:fixed; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color:var(--color7); 
    z-index:100000;
}

.cover.fade{
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.center{
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  @keyframes loading{
    0%{
      height: 50px;
      top: 0px;
    }
    
    50%{
      height: 70px;
      top: -10px;
    }
    
    100%{
      height: 50px;
      top: 0px;
    }
  }
  
  .loading{
    position:absolute;
    background-color: var(--color4);
    height: 50px;
    width: 15px;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  .loading.loading1{
    left:-25px;
    animation-delay: 0.2s;
  }
  
  .loading.loading2{
    left:0px;
    animation-delay: 0.4s;
  }
  
  .loading.loading3{
    left:25px;
    animation-delay: 0.6s;
  }