body {
    margin: 0;
    --color1: #3C1B43;
    --color2: #501537;
    --color3: #922D50;
    --color4: #D4E79E;
    --color5: #a4af72;
    --color6: #465ff0;
    --color7: #29122e;
    background-color: var(--color1);
    color: var(--color4);
    font-family: 'Roboto Mono';
    width: 100%;
}

.site-wrapper{
    overflow: hidden;
}

.center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

@keyframes fade-in {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

.center-title{
    position: relative;
    color: var(--color4);
    font-size: 20pt;

    opacity: 0%;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: center;
    z-index: 100;
}

.center-text{
    color: var(--color5);
    font-size: 20pt;

    opacity: 0%;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: center;
}

.link{
    text-decoration:none;
    color: var(--color6);
    font-weight: bold;
    white-space: nowrap;
}

footer {
    margin-top: 40px;
    padding: 10px;
    background-color: var(--color7);
    color: var(--color5);
}

.project-image{
    width: min(400px, 90vw);
    margin: 50px;
    border: 5px solid black;
    border-radius: 100px;
}

.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;

    color: var(--color4);
    font-size: 20pt;

    opacity: 0%;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.description{
    display: inline-block;
    margin: 0;
    width:70%;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}